<template>
  <Layout>
    <!-- Heading -->
    <div class="heading">
      <!-- Title -->
      <div class="title mt-4">
        <div>
          <h1 class="h3"> {{ $page.device.name }} </h1>
          <button v-if="$page.device.buyLink != 'disabled'" class="btn btn-tertiary btn-small btn-rounded ml-4 mt-1" @click="buy">Buy</button>
        </div>
        <p>
          <a href="#TODO">{{ $page.device.portType }}</a>
        </p>
      </div>
    </div>


    <!-- Progress -->
    <p class="bold mb-1">Overall progress</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" :style="{ width: $page.device.progress + '%' }" :aria-valuenow="$page.device.progress" aria-valuemin="0" aria-valuemax="1"></div>
    </div>


    <PortStatus v-if="$page.device.portStatus.length"/>
    <DeviceInfo v-if="$page.device.deviceInfo.length"/>

    <Installer v-if="!$page.device.noInstall"/>


    <!-- No Installer -->
    <div v-if="$page.device.noInstall" class="ports-banner no-installer">
      <p class="bold">
        <a v-if="$page.device.installLink" :href="$page.device.installLink">This device hasn’t been added to the UBports Installer yet. Click here to find installation instructions.</a>
        <span v-else>This device hasn’t been added to the UBports Installer yet. Installation instructions are not available.</span>
      </p>
    </div>

    <!-- Contributors & Discussions -->
    <div v-if="$page.device.contributors.length || $page.device.externalLinks.length" class="contributors-discussions">
      <!-- Discussions -->
      <div v-if="$page.device.externalLinks.length" class="discussions">
        <h2 class="h3 light">Get help</h2>
        <ul>

          <!-- Link -->
          <li v-for="link in $page.device.externalLinks" :key="link.name">
            <a :href="link.link">
              <img :src="'/img/icons/' + link.icon + '.svg'" alt="link-icon" class="social-media-icon">
              {{link.name}}
            </a>
          </li>
        </ul>
      </div>


      <!-- Contributors -->
      <div v-if="$page.device.contributors.length" class="contributors">
        <h2 class="h3 light">Contributors</h2>
        <ul>

          <!-- Person -->
          <li v-for="person in $page.device.contributors" :key="person.name">
            <a :href="person.forum">
              <img :src="person.photo ? person.photo : '/img/icons/yumi3d.jpg'" alt="person-img">
              <p>{{ person.name }}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div v-if="!$page.device.noInstall" class="installer-video">
      <h2 class="h3 bold">Lost while flashing your device?</h2>
      <p>Watch our awesome <a href="https://www.youtube.com/watch?v=zuLFTGkuD68">tutorial</a></p>
    </div>
  </Layout>
</template>

<page-query>
query ($id: ID!) {
  device(id: $id) {
    name
    codename
    portType
    deviceType
    progress
    progressStage
    noInstall
    installLink
    buyLink
    content
    portStatus {
      categoryName
      features { name value bugTracker }
    }
    deviceInfo {
      name value
    }
    contributors {
      name photo forum
    }
    externalLinks {
      name link icon
    }
    seo { description keywords }
  }
}
</page-query>

<script>
import PortStatus from "~/components/devices/PortStatus.vue";
import DeviceInfo from "~/components/devices/DeviceInfo.vue";
import Installer from "~/components/devices/Installer.vue";

export default {
  metaInfo() {
    return {
      title: this.$page.device.name,
      meta: [
        {
          name: "keywords",
          content: this.$page.device.seo
            ? this.$page.device.seo.keywords
            : "Ubuntu Touch, " +
              this.$page.device.name +
              ", mobile, Linux, Android, privacy, smartphone"
        },
        {
          name: "description",
          content: this.$page.device.seo
            ? this.$page.device.seo.description
            : "Everything you need to know about Ubuntu Touch for " +
              this.$page.device.name
        },
        {
          property: "og:title",
          content: this.$page.device.name + " • Ubuntu Touch • Linux Phone"
        }
      ]
    };
  },
  components: {
    PortStatus,
    DeviceInfo,
    Installer
  },
  methods: {
    buy() {
      window.location.href = this.$page.device.buyLink
        ? this.$page.device.buyLink
        : "https://swappa.com/search?q=" + this.$page.device.name;
    }
  }
};
</script>
