<template>
  <Layout>
    <div class="devices-homepage mt-5">
      <!-- Choose Device -->
      <img class="mx-auto mb-3 cursor-lg-pointer" src="/img/ports/choose-device.jpg" alt="choose-device-img" @click="toggleChoose">

      <h1 class="mb-4 text-center">Find your device</h1>
      <p>This list shows the devices which are currently under development in the Ubuntu Touch ecosystem. Mature devices have easy access to installation through the UBports Installer. Devices in an early state generally need to follow a manual installation procedure.</p>

      <h2 class="h6 bold">Can’t find the device you were looking for? </h2>
      <p>Don't feel bad, you can get yourself something from our supported devices list or continue reading to learn about porting your own. Just remember, not all of the devices listed here are working fully. Choose your desired device depending on your needs.</p>
      <p>Furthermore, we encourage you to find us on social media. Hopefully, one day support of your device will be announced.</p>

      <br><br>
      <div class="ports-banner">
      <h1 class="h3">Learn about our work</h1>
      <br>
      <h2 class="h6 bold">⟶ What is porting?</h2>
      <p>Porting is the process of adapting Ubuntu Touch software to run on new hardware.</p>
      <h2 class="h6 bold">⟶ Are you a developer? UBports calls you to join the porting effort</h2>
      <p>To create a port, having some programming skills will come in handy, especially if you are familiar with C / C++. But you can pick up skills as you go. Also, you should familiarize yourself with git and setup a github/gitlab account. Follow the steps as described in <a class="link" href="https://docs.ubports.com/en/latest/porting/" target="_blank" rel="noreferrer noopener">our porting guide</a>. It will help you and others if you start documenting your steps to further improve documentation.</p>
      <h2 class="h6 bold">⟶ Support development with a donation</h2>
      <p><a class="link" href="https://ubports.com/donate" target="_blank" rel="noreferrer noopener">Donate to the UBports foundation</a> or the developer directly to support port development.</p>



      </div>

    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Devices",
    meta: [
      {
        name: "keywords",
        content: "Ubuntu Touch, mobile, Linux, Android, privacy, smartphone"
      },
      {
        name: "description",
        content: "Explore devices compatible with Ubuntu Touch"
      },
      {
        property: "og:title",
        content: "Explore devices compatible with Ubuntu Touch"
      }
    ]
  },
  methods: {
    toggleChoose() {
      this.$root.$emit("bv::toggle::collapse", "sidebarCollapse");
    }
  }
};
</script>
