<template>
  <!-- Specifications -->
  <div class="specifications">
    <p class="bold">Device specifications</p>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr v-for="info in $page.device.deviceInfo" :key="info.id">
            <td>{{ info.name }}</td>
            <td>{{ info.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "DeviceInfo"
};
</script>
