<template>
  <!-- Features -->
  <div class="feature-map">
    <h2>What works</h2>
    <div class="features">
      <ul v-for="featureCategory in $page.device.portStatus" :key="featureCategory.categoryName">
        <li>
          <p class="bold">{{ featureCategory.categoryName }}:</p>
        </li>
        <li v-for="feature in featureCategory.features" :key="feature.name">
          <span v-if="feature.value !== 'x'">
            <span v-if="feature.value === '+'" class="feature-icon"><img src="/img/icons/working.svg"/>&nbsp;</span>
            <span v-else-if="feature.value === '+-'" class="feature-icon"><img src="/img/icons/partial.svg"/>&nbsp;</span>
            <span v-else-if="feature.value === '-'" class="feature-icon"><img src="/img/icons/not-working.svg"/>&nbsp;</span>
            <span v-else class="feature-icon"><img src="/img/icons/untested.svg"/>&nbsp;</span>

            <a
              v-if="feature.bugTracker"
              :href="feature.bugTracker"
              :style="{ color: (feature.value != '+') ? '#555' : 'inherit' }"
              target="_blank"
              rel="noreferrer noopener">{{ feature.name }}</a>
            <span v-else :style="{ color: (feature.value == '-') ? '#555' : 'inherit' }">{{ feature.name }}</span>
          </span>
        </li>
      </ul>
    </div>
    <p class="feature-legend">
      <span class="feature-legend-element feature-icon"><img src="/img/icons/working.svg"/>&nbsp;Working </span>
      <span class="feature-legend-element feature-icon"><img src="/img/icons/partial.svg"/>&nbsp;Partial </span>
      <span class="feature-legend-element feature-icon"><img src="/img/icons/not-working.svg"/>&nbsp;Not&nbsp;working </span>
      <span class="feature-legend-element feature-icon"><img src="/img/icons/untested.svg"/>&nbsp;Untested </span>
    </p>
    <p class="feature-legend">A link to issue report is available when a feature isn't fully working</p>
  </div>
</template>

<script>
export default {
  name: "PortStatus"
};
</script>
